<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.study.shoppingmallboot.domain.purchase.dao.PurchaseMapper">
    <resultMap id="purchaseSelectMap" type="Purchase">
        <result property="tranNo" column="tran_no" jdbcType="INTEGER"/>
        <result property="paymentOption" column="payment_option" jdbcType="VARCHAR"/>
        <result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
        <result property="receiverPhone" column="receiver_phone" jdbcType="VARCHAR"/>
        <result property="dlvyAddr" column="dlvy_addr" jdbcType="VARCHAR"/>
        <result property="dlvyRequest" column="dlvy_request" jdbcType="VARCHAR"/>
        <result property="status" column="tran_status_code" jdbcType="VARCHAR"/>
        <result property="orderDate" column="order_date" jdbcType="DATE"/>
        <result property="dlvyDate" column="dlvy_date" jdbcType="DATE"/>
        <result property="rowNum" column="rowNum" jdbcType="NUMERIC"/>
        <association property="buyer" javaType="User">
            <id property="userId" column="buyer_id"></id>
            <result property="userName" column="user_name"></result>
            <result property="phone" column="cell_phone"></result>
        </association>
        <association property="purchaseProd" javaType="Product">
            <id property="prodNo" column="prod_no"></id>
            <id property="prodName" column="prod_name"></id>
        </association>
    </resultMap>

    <delete id="deletePurchase" parameterType="java.lang.String">
        DELETE
        FROM transaction
        WHERE tran_no = #{tranNo}
    </delete>

    <!-- SQL : INSERT -->
    <insert id="addPurchase" parameterType="Purchase">
        INSERT
        INTO transaction(tran_no, prod_no, buyer_id, payment_option, receiver_name, receiver_phone,
                         dlvy_addr, dlvy_request, tran_status_code, order_date, dlvy_date)
        VALUES (seq_transaction_tran_no.nextval, #{prodNo}, #{buyerId}, #{paymentOption:VARCHAR},
                #{receiverName:VARCHAR}, #{receiverPhone:VARCHAR},
                #{dlvyAddr:VARCHAR}, #{dlvyRequest:VARCHAR}, '1', sysdate, #{dlvyDate:DATE})
    </insert>

    <select id="getPurchaseList" parameterType="Search" resultMap="purchaseSelectMap">
        SELECT row_num AS "rowNum",
               buyer_id,
               user_name,
               cell_phone,
               receiver_name,
               receiver_phone,
               tran_status_code,
               prod_no,
               order_date,
               prod_name,
               tran_no
        FROM (SELECT ROW_NUMBER() OVER (ORDER BY tran_no desc) AS row_num, buyer_id,
                     user_name,
                     cell_phone,
                     receiver_name,
                     receiver_phone,
                     tran_status_code,
                     P.prod_no,
                     order_date,
                     prod_name,
                    tran_no
              FROM TRANSACTION T
                       INNER JOIN USERS U on U.USER_ID = T.BUYER_ID
                       INNER JOIN PRODUCT P on T.prod_no = P.prod_no
              WHERE buyer_id = #{buyerId})
        WHERE row_num Between #{startIndex} AND #{endIndex}
        ORDER BY row_num
    </select>

    <select id="checkPurchaseLog" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(prod_no)
        FROM transaction
        WHERE prod_no = #{prodNo}
    </select>

    <select id="getPurchaseTotalCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(tran_no) AS "totalCount"
        FROM transaction
        WHERE BUYER_ID = #{userId}
    </select>

    <update id="updateTransCode" parameterType="java.lang.Integer">
        UPDATE TRANSACTION
        SET TRAN_STATUS_CODE = TRAN_STATUS_CODE + 1
        WHERE PROD_NO = #{prodNo}
    </update>

    <select id="getPurchase" parameterType="java.lang.Integer" resultMap="purchaseSelectMap">
        SELECT
            *
        FROM transaction
        WHERE TRAN_NO = #{tran_no}
    </select>

    <update id="updatePurchase" parameterType="Purchase">
        update TRANSACTION
        set
            RECEIVER_NAME = #{receiverName:VARCHAR},
            RECEIVER_PHONE = #{receiverPhone:VARCHAR},
            DLVY_ADDR = #{dlvyAddr:VARCHAR},
            DLVY_REQUEST = #{dlvyRequest:VARCHAR},
            DLVY_DATE = #{dlvyDate:DATE}
        where tran_no = #{tranNo}
    </update>

</mapper>